{% extends "base.html" %}



{% block content %}



{% if orginfo %}
<p>{{orginfo }}</p>
	<p>{{id}}</p>
{% endif %}


{% if request.user.is_authenticated %}


	{% if orgs %}
	<h2>Organization menu.</h2>
	{% for instance in orgs %}
		<h3>{{ instance.name }} </h3>
	  <p> {{ instance.description }} </p>


	{% endfor %}

	<table class='table'>
	{% for instance in orgs %}
		<tr><td>{{ forloop.counter }}</td><td>{{ instance.name }}</td><td>{{ instance.timestamp|timesince }} ago</td></tr>

	{% endfor %}
	</table>

	{% endif %}

{% if is_admin %}
	<h4> You are admin </h4>
{% endif %}

</hr>

{% if is_exec %}
	<h4> You are exec </h4>
{% endif %}

{% if is_exec or is_admin %}
 	{% if members %}
 	<h4>Members</h4>
 	<table class='table'>
 		{% for instance in members %}
 			<tr><td>{{ forloop.counter }}</td><td>{{ instance.username }}</td><td>{{ instance.email }}</td><td>{{ instance.date_joined|timesince }} ago</td></tr>

 		{% endfor %}
 	</table>
 	{% endif %}
{% endif %}

{% if is_exec %}
  <a href="{% url 'newsletter.views.orgEdit' %}{{ id }}">edit organization</a>
{% endif %}

 {% endif %}




{% endblock %}