{% extends "base.html" %}

  

{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>User Dash</h1>

<!--
{% if user_info %}
<p>{{user_info }}</p>
	<p> {{user_id}}</p>
{% endif %}
-->
<!--
<h2>Organizations menu.</h2>
{% if user_info %}
	
	<p> {{orgs}}</p>

{% endif %}

</div>

</div>
-->
{% if request.user.is_authenticated %}


	{% if orgs %}
	<h2>Organization menu.</h2>
	<table class='table'>
	{% for instance in orgs %}
		<!-- <a href="url">link text</a>       <a href=" url 'org-view' ">Contact</a> -->
		<tr><td>{{ forloop.counter }}</td><td> <a href="{% url 'newsletter.views.orgs' %}{{instance.id}}">{{ instance.name }}</a></td><td>{{ instance.timestamp|timesince }} ago</td></tr>

	{% endfor %}
	</table>

	{% endif %}

 {% endif %}


 {% endblock %}

